html{
  background-image: url("img/bg.png");
}

p{
color: green;
font-size:12px;
}

.special {
  color: rgb(120,40,120);
  background: pink;
  padding: 90 px;
  width: 200px;
  height: 400px;
}

.common{
  font-size: 40px;
  color: white;
  background: #232228;
  border: 1px dotted red;
  border-radius: 50%;

}

img{
  max-width: 100%;
}

.look-img{
  width: 300px;
}
