html{
  font-family: 'Courier Prime', monospace;
  font-size: 13px;
}

h1{
  display: inline;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: black;
}

h2{
  font-size: 13px;
  font-style: italic;
}

hr{
  display: block; height: 1px;
  border: 0; border-top: 1px solid rgb(235, 236, 235);
  margin: 1em 0; padding: 0; }
}

.h2-inline{
  font-style: italic;
  font-weight: bold
  ;
}

.five-flowers{
  font-size: 15px;
  color: rgb(255, 207, 0);
}

.clicker{
width:20px;
height:20px;
color: rgb(255, 61, 253);
text-decoration: underline;
font-style: italic;
font-size: 30px;
outline:none;
cursor:pointer;
}

.clicker:focus + .left{
display:block;
}

.left{
  display:none;
  padding: 15px;
  overflow: scroll;
  float: left;
  width: 35%;
  height: 600px;
  color: black;
  box-shadow: 1px 3px 6px rgb(214, 214, 214);
}

.left-image{
  max-width: 100%;
}
.f0{color:rgb(255, 61, 253);}
.f1{color:rgb(255, 61, 253);filter: blur(1px);}
.f2{color:rgb(255, 61, 253);filter: blur(2px);}
.f3{color:rgb(255, 61, 253);filter: blur(3px);}
.f4{color:rgb(255, 61, 253);filter: blur(4px);}
.f5{color:rgb(255, 61, 253);filter: blur(5px);}

.center{
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.right{
  width:23%;
  height: 55%;
  position: fixed;
  bottom: 0;
  right: 1.5%;
  border: 1px;
  border-style: solid;
  border-radius: 7px 7px 0px 0px;
  border-color:rgb(214, 214, 214);

}

.circle{
  display: inline-block;
  width: 20px;
  height: 20px;
  background:rgb(255, 61, 253);
  border-radius: 50%;
  margin: 5px;
  margin-bottom: 0;
}
