html{
  font-family: 'Courier Prime', monospace;
  font-size: 13px;
  color: red;
  margin: 40px;
}

*{
  box-sizing: border-box;
}

ul{
  color:red;
  list-style:none;
}

@-webkit-keyframes scale {
  0%, 100% {transform: scaleX(110%);}
  50% {transform: scaleX(100%);}
}

@-webkit-keyframes blur {
  0%, 100%  { -webkit-filter: blur(1px); }
  50% { -webkit-filter: blur(3px); }
}

@-webkit-keyframes blur-box {
  0%, 100%  { -webkit-filter: blur(1px); }
  50% { -webkit-filter: blur(5px); }
}

h1{
  display: inline;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;

}

h2{
  font-size: 13px;
  font-style: italic;
}

hr{
  display: block; height: 1px;
  border: 0; border-top: 1px solid rgb(235, 236, 235);
  margin: 1em 0; padding: 0; }
}

.h2-inline{
  font-style: italic;
  font-weight: bold
  ;
}

.five-flowers{
  font-size: 15px;
  color: rgba(255, 122, 238, 0.99);
}

.left-intro{
  font-size: 13px;
  color: rgba(255, 122, 238, 0.99);
}

.quote{
  font-size: 11px;
  font-style: italic;
  display: inline-block;
  padding-left:3%;
  color: rgb(249, 77, 31);
}

.inline-image{

  width: 90px;
}

.inline-image-1{
  display: inline-block;
  height: 40px;
}

.clicker{
width:30px;
height:30px;
color: red;
font-style: normal;
font-size: 30px;
outline:none;
cursor:pointer;
-webkit-animation: scale 2s ease infinite;
}

.clicker:hover{
  -webkit-animation: none;
  transform: scale(130%);
}

.flower-2{
  display: block;
  margin-left: 30px;
  width:50px;
  height:30px;
  color: red;
  font-style: normal;
  font-size: 25px;
  outline:none;
  cursor:pointer;
  -webkit-animation: scale 2s ease infinite;
}

.flower-2:hover + .credit{
  display: block;
}

.credit{
margin-top: 5%;
  display: none;
  width: 18%;
    position: relative;
  top: 40%;
  float: left;
  text-align: center;
  color: red;
}

.clicker:focus + .left{
display:block;
}

.left{
  display:none;
  position: absolute;
  z-index: 1111;
  margin-top: 0px;
  margin-left: 0px;
  padding: 15px;
  overflow: scroll;
  float: left;
  width: 35%;
  height: 560px;
  color: red;
  box-shadow: 1px 3px 10px rgb(214, 214, 214);
  background-color: hsl(0, 0%, 100%, 0.5) ;
}

.left-image{
  max-width: 100%;
}
.f0{color:rgba(255, 122, 238, 0.99);}
.f1{color:rgba(255, 122, 238, 0.99);filter: blur(1px);}
.f2{color:rgba(255, 122, 238, 0.99);filter: blur(2px);}
.f3{color:rgba(255, 122, 238, 0.99);filter: blur(3px);}
.f4{color:rgba(255, 122, 238, 0.99);filter: blur(4px);}
.f5{color:rgba(255, 122, 238, 0.99);filter: blur(5px);}

.center-box{
  position: fixed;
  width: 90%;
  height: 80%;
  border: solid 0px;
}

.center-1{
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-20%, -50%) rotate(20deg);
    color:red;
    text-decoration: none;
    font-size: 40px;
    -webkit-animation: blur 8s ease infinite;
    position: absolute;
  }

.center-1:hover + .center-hover-1{
  display:block;
  -webkit-animation:none;
}

  .center-hover-1{
      display: none;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-20%, -50%);
      position: absolute;
    }

  .center-2{
      display: block;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-20%, -50%) rotate(10deg);
      color:red;
      text-decoration: none;
      font-size: 30px;
      -webkit-animation: blur 8s ease infinite;
      position: absolute;
    }

    .center-2:hover + .center-hover-2{
      display:block;
      -webkit-animation:none;
    }

    .center-hover-2{
        display: none;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-20%, -50%) rotate(10deg);
        position: absolute;
      }

  .center-3{
      display: block;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%) rotate(40deg);
      color:red;
      text-decoration: none;
      font-size: 60px;
      -webkit-animation: blur 8s ease infinite;
      position: absolute;
    }

    .center-3:hover + .center-hover-3{
      display:block;
      -webkit-animation:none;
    }

    .center-hover-3{
        display: none;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%) rotate(0deg);
        color:red;
        text-decoration: none;
        font-size: 60px;
        position: absolute;
      }

    .center-4{
        display: block;
        position: absolute;
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%) rotate(-10deg);
        color:red;
        font-size: 55px;
        -webkit-animation: blur 8s ease infinite;
        position: absolute;
      }

      .center-4:hover + .center-hover-4{
        display:block;
        -webkit-animation:none;
      }

      .center-hover-4{
          display: none;
          position: absolute;
          top: 80%;
          left: 70%;
          transform: translate(-50%, -50%) rotate(-10deg);
          position: absolute;
        }

      .center-5{
          display: block;
          position: absolute;
          top: 80%;
          left: 90%;
          transform: translate(-50%, -50%) rotate(-40deg);
          color:red;
          text-decoration: none;
          font-size: 30px;
          -webkit-animation: blur 8s ease infinite;
          position: absolute;
        }

        .center-5:hover + .center-hover-5{
          display:block;
          -webkit-animation:none;
        }

        .center-hover-5{
            display: none;
            position: absolute;
            top: 80%;
            left: 90%;
            transform: translate(-50%, -50%);
            position: absolute;
          }

        .center-6{
            display: block;
            position: absolute;
            top: 10%;
            left: 70%;
            transform: translate(-50%, -50%) rotate(-30deg);
            color:red;
            text-decoration: none;
            font-size: 25px;
            -webkit-animation: blur 8s ease infinite;
            position: absolute;
          }

          .center-6:hover + .center-hover-6{
            display:block;
            -webkit-animation:none;
          }

          .center-hover-6{
              display: none;
              position: absolute;
              top: 10%;
              left: 70%;
              transform: translate(-50%, -50%) rotate(-30deg);
              position: absolute;
            }

.right{
  position: fixed;
  bottom: 40px;
  right:60px;

  -webkit-animation: scale 2s ease infinite;
}

.right:hover + .right-hover{
  display: block;
}

.right-hover{
  display: none;
  position: fixed;
  background-color: white;
  bottom: 40px;
  right:60px;
  -webkit-animation: scale 2s ease infinite;
}

.bottom{
  display: inline-block;
  height: 50px;
  margin-bottom: 20px;
}
